/.tmp/
/pkg/
/pdf/
/benchmark/connect/client-goroutine
/benchmark/connect/client-no-goroutine
/benchmark/connect/client-thread
/benchmark/connect/client-no-thread
/benchmark/connect/server-thread
/benchmark/connect/node_modules/
/benchmark/read-write/client-goroutine
/benchmark/read-write/client-thread
/benchmark/read-write/server-thread
/benchmark/read-write/node_modules/
/benchmark/echo/client-goroutine
/benchmark/echo/client-thread
/benchmark/echo/server-thread
/benchmark/echo/node_modules/
